<div class="row p-2 m-2">
    <a routerLink="/AddEmployee" class="col-2 btn border mx-1 shadow  bg-secondary rounded text-light">
      <i class="fa fa-plus"></i>
    </a>
  
  </div>
  <div class="row">
    <table class="table  col-12">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">DoB</th>
          <th scope="col">Geneder</th>
          <th scope="col">Salary</th>
          <th scope="col">Address</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of ListEmployees;index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{employee?.firstName}}</td>
          <td>{{employee?.lastName}}</td>
          <td>{{employee?.doB?.toString()??''| date:'MM/dd/yyyy'}}</td>
          <td>{{employee.geneder | gender}}</td>
          <td>{{employee?.salary | currency }}</td>
          <td>{{employee?.address}}</td>
          <td>
            <a routerLink="/EditEmployee/{{employee.id}}" class="btn border mx-1 shadow bg-white rounded ">
              <span class="text-primary">Edit</span>
            </a>
            <a routerLink='/DetailsEmployee/{{employee.id}}' class="btn border mx-1 shadow bg-white rounded">
              <span class="text-danger">Delete</span>
               | 
               <span class="text-seconadry">Details</span>
              </a>
          </td>
        </tr>
      
      </tbody>
    </table>
  </div>