<div class="row my-3">
    <div class="col-12">
        <h1 class="text-center">{{title}}</h1>
    </div>
</div>

<form class="my-5" #From_add_edit="ngForm" (ngSubmit)="Department_add_edit()">

    <div class="row p-5" style="background-color: #ccc;">

        <div class="form-group col-6">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" required id="inputName" name="inputName" #inputName="ngModel"
                [(ngModel)]="departmentEntity.name" placeholder="Department Name">
            <div [hidden]="inputName.valid || inputName.pristine" class="alert alert-danger">
                This Filed is required
            </div>
        </div>
        <div class="form-group col-6">
            <label for="inputLocation">Location</label>
            <input type="text" class="form-control" id="inputLocation" required #inputLocation="ngModel"
                name="inputLocation" [(ngModel)]="departmentEntity.location" placeholder="Department Location">
            <div>
                <div [hidden]="inputLocation.valid || inputLocation.pristine" class="alert alert-danger">
                    This Filed is required
                </div>
            </div>
        </div>
        <div class="form-group col-6  mt-4">
            <button type="submit" [disabled]="From_add_edit.form.invalid" class=" btn btn-primary">{{BtnName}}</button>
        </div>
    </div>

</form>